/*styling the GRIDVIEW*/
.grid {
    width: 80%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #343a40;
    border-collapse: collapse;
}

    .grid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

    .grid th {
        padding: 4px 2px;
        color: #fff;
        background: #343a40 repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

    .grid .alt {
        background: #fcfcfc repeat-x top;
    }

    .grid .pgr {
        background: #343a40 repeat-x top;
    }

        .grid .pgr table {
            margin: 5px 0;
        }

        .grid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .grid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .grid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }
